@{
    ViewData["Title"] = "Inicio";
}

<div class="container p-4 text-center">
    <h1 class="display-4">Bienvenido a mi prueba técnica</h1>
    <p class="mt-4">Esta aplicación esta desarrollada en .NET 6, utilizando C#, Entity Framework Core 7.0 y conectada a una base de datos en SQL Server.</p>
    <br/>
    <div class="card mt-4">
        <div class="d-flex">
            <img src="https://www.syntonize.com/wp-content/uploads/2021/07/Net-6.jpg" alt=".Net 6" width="350" />
            <img src="https://dagope.com/public/uploads/2018/11/efcore.png" alt="Entity Framework" width="350" />
            <img src="https://www.globalbit.co/wp-content/uploads/2019/05/sql-cover-blog.png" alt="SQL Server" width="350" />
        </div>     
    </div>
</div>
